html * {
    font-family: sans-serif;
}

.top{
    text-align: right;
    margin-right: 12px;
    padding: 6px;
}

.top a{
    color: black;
    text-decoration: none;
    padding: 6px;
    margin: 6px;
    font-size: 12px;
}

.middle{
    margin-top: 10%;
    text-align: center;
}

img{
    height: 150px;
    width: 312px;
}

/* #search-bar{
    margin: 12px;
} */

#search-bar input[type=text]{
    background-color: transparent;
    border: 1px solid #c3c3c3;
    width: 40%;
    position: relative;
    left: 30%;
    right: 30%;
    display: flex;
    font-size: 18px;
    border-radius: 25px;
    padding: 12px;
    outline: none;
}

#search-bar input[type=text]:hover, #search-bar input[type=text]:active{
    box-shadow: 3px 3px 3px 3px #c3c3c3;
}

#buttons{
    margin-top: 36px;
}

.b{
    margin-right: 12px;
    padding: 6px;
    background-color: #f1f1f1;
    padding: 12px;
    border: none;
    color: gray;
}

.b:hover{
    color: black;
    border: 1px solid #c3c3c3;
}

#left-side{
    padding-bottom: 12px;
    bottom: 0;
    left: 0;
    position: absolute;
}

ul {
    list-style-type: none;
    font-size: 12px;
}

li{
    display: inline;
}

.bottom a{
    text-decoration: none;
    color: gray;
    padding: 6px;
}

#right-side{
    padding: 12px;
    bottom: 0;
    right: 0;
    position: absolute;
}